@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  max-width: 1800px !important;
  margin: auto !important; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #000; }

@font-face {
  font-family: 'Roboto';
  src: url("../../assets/Roboto/Roboto-Regular.ttf"); }

body {
  overflow-x: hidden !important; }

.menu-active #display-menu {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .menu-active #display-menu li {
    width: 150px;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.459);
    display: flex !important;
    justify-content: center !important; }
    .menu-active #display-menu li a {
      color: white !important; }
  .menu-active #display-menu li:nth-child(n+6) {
    border: none !important; }

#display-menu {
  width: 150px;
  height: 300px;
  background-color: rgba(141, 141, 141, 0.897);
  border-radius: 10px 0 0 10px;
  position: absolute;
  right: -60px;
  top: 60px;
  display: none; }

body {
  font-family: "Roboto" !important;
  overflow-x: hidden; }

a {
  text-decoration: none !important;
  color: #000 !important; }

.nav-list-left {
  width: 400px; }

header {
  padding: 25px 50px;
  justify-content: space-between; }

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 580px !important; }
  .nav-left .logo-header {
    width: 100px; }
    .nav-left .logo-header img {
      width: 70px;
      height: auto; }
  .nav-left nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px; }
    .nav-left nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      margin: 0;
      margin-left: -30px;
      padding: 0; }
      .nav-left nav ul li {
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px; }
      .nav-left nav ul #link-nav-1,
      .nav-left nav ul #link-nav-2,
      .nav-left nav ul #link-nav-3,
      .nav-left nav ul #link-nav-4,
      .nav-left nav ul #link-nav-5,
      .nav-left nav ul #link-nav-6 {
        height: auto;
        width: auto;
        padding: 10px !important;
        position: relative !important;
        font-size: 13px;
        border-bottom: 1px solid rgba(255, 255, 255, 0); }
        .nav-left nav ul #link-nav-1:before,
        .nav-left nav ul #link-nav-2:before,
        .nav-left nav ul #link-nav-3:before,
        .nav-left nav ul #link-nav-4:before,
        .nav-left nav ul #link-nav-5:before,
        .nav-left nav ul #link-nav-6:before {
          content: "";
          position: absolute !important;
          width: 100% !important;
          height: 2px !important;
          bottom: 0 !important;
          left: 0 !important;
          background-color: rgba(112, 112, 112, 0.521) !important;
          visibility: hidden !important;
          transform: scaleX(0) !important;
          transition: all 0.3s ease-in-out !important; }
        .nav-left nav ul #link-nav-1:hover:before,
        .nav-left nav ul #link-nav-2:hover:before,
        .nav-left nav ul #link-nav-3:hover:before,
        .nav-left nav ul #link-nav-4:hover:before,
        .nav-left nav ul #link-nav-5:hover:before,
        .nav-left nav ul #link-nav-6:hover:before {
          visibility: visible !important;
          transform: scaleX(1) !important; }

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px !important; }
  .nav-right :focus {
    outline: none; }
  .nav-right .search-bar {
    border-radius: 50px;
    border: none;
    height: 30px;
    width: 200px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    position: relative; }
  .nav-right ul {
    display: flex;
    width: auto;
    margin: 0;
    padding: 0; }
    .nav-right ul li {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
  .nav-right img {
    padding: 5px 5px;
    margin: 0 5px; }

.search-bar:after {
  display: block;
  content: url("../../assets/img/imgIcons/loupe.png");
  width: 20px;
  height: auto;
  position: absolute;
  bottom: 4px;
  left: 200px; }

#card-svg:after {
  content: ' ';
  background-image: url("../../assets/img/imgIcons/2.svg");
  background-size: cover;
  position: absolute;
  right: 0px;
  top: 0;
  width: 12px;
  height: 12px !important; }

.li-element {
  display: none !important; }

@media screen and (max-width: 1460px) {
  header {
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.425); } }

@media screen and (max-width: 1178px) {
  .search-bar {
    display: none; }
  .nav-right {
    width: 250px !important;
    justify-content: flex-end;
    margin-right: -20px; }
  .li-element {
    display: flex !important; }
  header {
    padding: 25px 25px;
    justify-content: space-between;
    background-color: #fff; }
  .nav-left {
    width: 100px !important; }
  .nav-ul-left {
    margin-left: 100px !important; }
  #display-menu {
    right: -17px !important;
    top: 60px; } }

@media screen and (max-width: 800px) {
  .nav-li-left {
    display: none !important; }
  #display-menu {
    right: -17px !important;
    top: 55px !important; } }

@media screen and (max-width: 484px) {
  .container-fluid {
    padding: 0 !important; }
  header {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 50px !important;
    z-index: 10 !important; }
  .nav-right {
    width: 200px !important;
    margin-right: 10px; }
    .nav-right li {
      height: 30px; }
  .card-svg:after {
    right: 16px;
    width: 12px;
    height: 12px;
    bottom: 35px; }
  #display-menu {
    right: -20px !important;
    top: 40px !important; } }

@media screen and (max-width: 430px) {
  #display-menu {
    right: -20px !important;
    top: 40px !important; } }

#cart-container {
  width: 100%; }
  #cart-container #quantity-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; }
    #cart-container #quantity-container #input {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px; }
      #cart-container #quantity-container #input #number-input {
        text-align: center;
        border: none; }
      #cart-container #quantity-container #input button {
        border: none;
        width: 40px;
        height: 40px;
        opacity: 0.5;
        font-size: 25px;
        background-color: white; }
    #cart-container #quantity-container #add-to-car-container #add-to-car-button {
      color: white;
      background-color: #222222;
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 2px;
      width: 80%;
      margin-bottom: 20px; }
    #cart-container #quantity-container #add-to-car-container #heart-button {
      border: none;
      width: 40px;
      height: 40px;
      opacity: 0.5;
      font-size: 25px;
      background-color: white;
      font-size: 20px;
      width: 15%;
      margin-left: 10px; }
  #cart-container #buy-now-button {
    color: white;
    background-color: #222222;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    width: 100%;
    margin-bottom: 25px; }

.sub-header {
  padding-left: 5px; }
  .sub-header p {
    line-height: 1.6; }
  .sub-header i {
    font-size: 5px;
    padding-left: 10px;
    padding-right: 10px; }

#product-container-top {
  width: 100%;
  padding-top: 55px;
  padding-left: 5px;
  padding-right: 5px; }
  #product-container-top .big-image-container {
    width: 100%;
    margin-bottom: 10px; }
    #product-container-top .big-image-container img {
      width: 100%; }
  #product-container-top #thumbnails-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    #product-container-top #thumbnails-container .tiny-image-container {
      width: 30%; }
      #product-container-top #thumbnails-container .tiny-image-container .opaque-image {
        opacity: 0.5; }
      #product-container-top #thumbnails-container .tiny-image-container img {
        width: 100%; }
    #product-container-top #thumbnails-container #t-shirt-image {
      display: none; }

#product-description-container {
  margin-top: 30px; }
  #product-description-container ul #review {
    margin-top: 10px;
    margin-left: 8px;
    font-size: 12px;
    font-weight: bold; }
  #product-description-container ul .yellow-start {
    color: #edb659;
    font-size: 10px; }
  #product-description-container ul #silver-start {
    color: #a59f9f;
    font-size: 10px; }
  #product-description-container ul li {
    display: inline; }
  #product-description-container h2 {
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 22px; }
  #product-description-container .gray-light {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #c5c5c5;
    font-size: 12px; }
  #product-description-container p {
    margin-top: 15px;
    margin-bottom: 15px; }
  #product-description-container #price {
    font-size: 18px; }
  #product-description-container #description {
    font-size: 13px;
    font-weight: 300; }

#cart-container {
  width: 100%; }
  #cart-container #quantity-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; }
    #cart-container #quantity-container #input {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px; }
      #cart-container #quantity-container #input #number-input {
        text-align: center;
        border: none; }
      #cart-container #quantity-container #input button {
        border: none;
        width: 40px;
        height: 40px;
        opacity: 0.5;
        font-size: 25px;
        background-color: white; }
    #cart-container #quantity-container #add-to-car-container #add-to-car-button {
      color: white;
      background-color: #222222;
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 2px;
      width: 80%;
      margin-bottom: 20px; }
    #cart-container #quantity-container #add-to-car-container #heart-button {
      border: none;
      width: 40px;
      height: 40px;
      opacity: 0.5;
      font-size: 25px;
      background-color: white;
      font-size: 20px;
      width: 15%;
      margin-left: 10px; }
  #cart-container #buy-now-button {
    color: white;
    background-color: #222222;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    width: 100%;
    margin-bottom: 25px; }

#category-tags-container {
  width: 85%;
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 40px; }
  #category-tags-container p {
    padding-bottom: 15px; }
    #category-tags-container p span {
      letter-spacing: 1px;
      font-weight: bolder;
      color: black; }
  #category-tags-container i {
    font-size: 16px;
    padding-left: 5px; }

#small-header ul {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px; }
  #small-header ul li {
    padding-bottom: 15px;
    font-weight: bold; }

#second-product-container {
  padding-top: 60px;
  margin-bottom: 40px; }
  #second-product-container #text-container h3 {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 30px; }
  #second-product-container #text-container p {
    text-align: justify;
    padding-bottom: 25px;
    padding-right: 5px;
    font-size: 14px;
    font-weight: 700; }
  #second-product-container #text-container ul {
    font-weight: lighter; }
    #second-product-container #text-container ul li {
      padding-bottom: 5px;
      margin-left: 20px;
      text-indent: -15px;
      line-height: 1.5;
      font-size: 14px;
      font-weight: 600; }
    #second-product-container #text-container ul li::before {
      content: '•';
      color: gray;
      font-size: 20px;
      padding-right: 5px; }
  #second-product-container img {
    margin-top: 5px;
    width: 100%; }

#related-products-container h2 {
  text-align: center;
  padding-bottom: 40px;
  font-weight: bolder;
  font-size: 20px; }

#related-products-container #thumbnails-container .image-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px; }
  #related-products-container #thumbnails-container .image-container h3,
  #related-products-container #thumbnails-container .image-container p {
    margin-top: 15px; }
    #related-products-container #thumbnails-container .image-container h3 small,
    #related-products-container #thumbnails-container .image-container p small {
      color: #bdb4b4; }
  #related-products-container #thumbnails-container .image-container ul {
    list-style: none;
    margin-top: 10px; }
    #related-products-container #thumbnails-container .image-container ul li {
      display: inline;
      color: #f68773; }

@media screen and (min-width: 767px) {
  .main-container {
    padding-left: 40px;
    padding-right: 40px; }
  .sub-header p {
    font-size: 20px; }
    .sub-header p .hide {
      display: none; }
  #product-container-top #thumbnails-container .tiny-image-container {
    width: 23%; }
  #product-container-top #thumbnails-container #t-shirt-image {
    display: inline; }
  #product-container-top #product-description-container ul #review,
  #product-container-top #product-description-container ul .yellow-start,
  #product-container-top #product-description-container ul #silver-start {
    font-size: 20px; }
  #product-container-top #product-description-container h2 {
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 25px; }
  #product-container-top #product-description-container .gray-light {
    font-size: 20px;
    margin-bottom: 25px; }
  #product-container-top #product-description-container p {
    margin-top: 25px;
    margin-bottom: 25px; }
  #product-container-top #product-description-container #price {
    font-size: 30px; }
  #product-container-top #product-description-container #description {
    font-size: 20px; }
  #cart-container #quantity-container {
    flex-direction: row;
    margin-bottom: 20px; }
    #cart-container #quantity-container #input {
      width: 20%;
      justify-content: space-between;
      margin-bottom: 0px;
      height: 50px; }
      #cart-container #quantity-container #input #number-input {
        width: 33%;
        height: auto;
        font-size: 15px; }
      #cart-container #quantity-container #input button {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 30px;
        height: auto;
        width: 33%; }
    #cart-container #quantity-container #add-to-car-container {
      display: flex;
      flex-direction: row;
      width: 60%;
      height: 50px;
      margin-left: 20px; }
      #cart-container #quantity-container #add-to-car-container #add-to-car-button {
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 50px;
        width: 100%; }
      #cart-container #quantity-container #add-to-car-container #heart-button {
        width: 20%;
        font-size: 25px;
        text-align: center;
        justify-content: center;
        height: 50px; }
  #cart-container #buy-now-button {
    font-size: 18px;
    margin-bottom: 30px; }
  #category-tags-container {
    font-size: 18px;
    padding-bottom: 50px; }
    #category-tags-container p {
      padding-bottom: 25px; }
    #category-tags-container i {
      font-size: 22px;
      padding-left: 20px; }
  #small-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px; }
    #small-header ul li {
      display: inline; }
  #second-product-container {
    margin-bottom: 60px; }
    #second-product-container #text-container h3 {
      font-size: 30px; }
    #second-product-container #text-container p {
      font-size: 20px;
      font-weight: 100; }
    #second-product-container #text-container ul li {
      font-size: 20px;
      font-weight: 200; }
    #second-product-container #text-container ul li::before {
      font-size: 25px; }
    #second-product-container img {
      width: 75%; }
  #related-products-container h2 {
    font-size: 35px;
    padding-bottom: 40px;
    letter-spacing: 2px; }
  #related-products-container #thumbnails-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    #related-products-container #thumbnails-container .image-container {
      width: 48%; }
    #related-products-container #thumbnails-container h3,
    #related-products-container #thumbnails-container p {
      font-size: 20px; } }

@media screen and (min-width: 900px) {
  .main-container {
    width: 50%;
    margin: auto; }
  .sub-header {
    width: 80%;
    margin: auto; }
  #product-container-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    margin: auto; }
    #product-container-top #product-images-container {
      width: 50%;
      padding-right: 25px; }
    #product-container-top #container-right-top {
      width: 50%; }
      #product-container-top #container-right-top #product-description-container {
        margin-top: 0px; }
        #product-container-top #container-right-top #product-description-container p {
          margin-top: 0px; }
        #product-container-top #container-right-top #product-description-container ul #review {
          font-size: 12px; }
        #product-container-top #container-right-top #product-description-container ul .yellow-start {
          font-size: 12px; }
        #product-container-top #container-right-top #product-description-container ul #silver-start {
          font-size: 12px; }
        #product-container-top #container-right-top #product-description-container h2 {
          margin-top: 15px;
          font-size: 20px;
          letter-spacing: 3px;
          margin-bottom: 15px; }
        #product-container-top #container-right-top #product-description-container .gray-light {
          font-size: 15px;
          margin-top: 0px;
          margin-bottom: 0px; }
        #product-container-top #container-right-top #product-description-container p {
          margin-bottom: 20px;
          font-size: 14px; }
        #product-container-top #container-right-top #product-description-container #price {
          margin-top: 10px;
          font-size: 20px;
          margin-bottom: 10px; }
      #product-container-top #container-right-top #cart-container #quantity-container #input {
        width: 150px; }
        #product-container-top #container-right-top #cart-container #quantity-container #input #number-input {
          text-align: center; }
        #product-container-top #container-right-top #cart-container #quantity-container #input button {
          text-align: center;
          width: 50px; }
      #product-container-top #container-right-top #cart-container #quantity-container #add-to-car-container #add-to-car-button {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 12px; }
      #product-container-top #container-right-top #cart-container #quantity-container #add-to-car-container #heart-button {
        font-size: 15px; }
      #product-container-top #container-right-top #cart-container #buy-now-button {
        font-size: 12px; }
    #product-container-top #category-tags-container {
      font-size: 12px; }
      #product-container-top #category-tags-container p {
        padding-bottom: 15px; }
      #product-container-top #category-tags-container i {
        padding-top: 20px;
        padding-left: 0px;
        font-size: 15px; }
  #small-header {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-top: 80px;
    justify-content: space-around; }
    #small-header ul li {
      padding-left: 50px;
      font-size: 17px; }
  #second-product-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
    justify-content: space-between; }
    #second-product-container #text-container {
      width: 55%; }
      #second-product-container #text-container h3 {
        font-size: 18px;
        padding-bottom: 20px; }
      #second-product-container #text-container p {
        font-size: 14px;
        line-height: 1.6; }
      #second-product-container #text-container ul li {
        font-size: 14px;
        padding-bottom: 5px; }
      #second-product-container #text-container ul li::before {
        font-size: 13px;
        padding-right: 5px; }
    #second-product-container img {
      width: 40%; }
  #related-products-container {
    width: 80%;
    margin: auto; }
    #related-products-container h2 {
      font-size: 20px; }
    #related-products-container #thumbnails-container {
      flex-direction: row;
      flex-wrap: nowrap; }
      #related-products-container #thumbnails-container .image-container {
        width: 24%; }
        #related-products-container #thumbnails-container .image-container h3,
        #related-products-container #thumbnails-container .image-container p {
          font-size: 15px; }
  .container-footer .content-footer {
    padding: 0px;
    width: 79%; } }

.container-footer {
  height: auto;
  width: 100%;
  padding: 0 !important; }
  .container-footer .content-footer {
    width: 70%;
    height: auto;
    padding: 0 20px;
    margin: auto;
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    flex-wrap: wrap; }
    .container-footer .content-footer .container-ul-footer {
      display: flex;
      width: 155px;
      flex-direction: column;
      padding: 0 10px; }
      .container-footer .content-footer .container-ul-footer h4 {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 40px; }
      .container-footer .content-footer .container-ul-footer .footer-list {
        padding: 0; }
        .container-footer .content-footer .container-ul-footer .footer-list li {
          line-height: 180%; }
          .container-footer .content-footer .container-ul-footer .footer-list li a {
            color: #959595 !important;
            font-size: 12px;
            font-weight: 500;
            margin: 0;
            color: #959595 !important;
            font-weight: 500; }

.line-footer {
  border-top: 1px solid #95959573;
  height: 70px; }
  .line-footer .grey-text {
    color: #959595 !important;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    font-weight: 500; }
  .line-footer .supro {
    color: #000;
    font-weight: bold;
    margin-right: 10px; }
  .line-footer .content-line {
    width: 70%;
    height: 100%;
    padding: 0 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .line-footer .content-line .line-right {
      display: flex;
      width: 160px;
      justify-content: space-between; }

@media screen and (max-width: 580px) {
  .line-footer {
    width: 100%;
    height: 100px !important; }
  .container-ul-footer {
    width: 50% !important;
    padding: 0 !important; }
  .content-footer {
    width: 100% !important; }
    .content-footer h4 {
      margin-bottom: 20px !important; }
  .content-line {
    flex-direction: column !important;
    width: 100% !important;
    height: 100% !important;
    justify-content: space-around !important;
    padding-left: 20px !important; }
    .content-line .line-right {
      width: 100% !important;
      display: flex;
      justify-content: flex-start !important; }
      .content-line .line-right p {
        margin-right: 30px; }
  .container-ul-footer:nth-child(5) {
    display: none !important; }
  .line-footer {
    height: 100px !important; }
  .line-left {
    width: 100% !important; }
    .line-left p {
      margin-right: 30px; } }

.main-container {
  margin-top: 40px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px; }

.p-gray {
  color: #a59f9f; }

.container-footer .content-footer {
  padding: 0px;
  width: 79%; }

/*# sourceMappingURL=product.css.map */